   <div id ="login" >
    <form >

        <input type="text" name="Email" placeholder="Email" ><br>
           <br>
        <input type="password" name="password" placeholder="Password" ><br>
        <br>
        <br>
        <button type="submit" value="submit">LOGIN</button><br>
           <br>
           <br>
         <h3>Forgot password?</h3>
   </form>
   </div>
