form{
    text-align: center;
    padding-bottom: 50%;
    margin-top: 50px;

}
input{
  background: transparent;
  width: 60%;
  height: 60%;
  border-radius: 40px;
  padding: 11px;
  -webkit-text-fill-color: white;
  border: 2px solid rgb(240, 176, 176);
}
button{
       width: 65%;
       height: 60%;
       padding: 10px;
       border-radius: 40px;
       background-color: white;
       color: #D45858;
       font-weight: bold;
       border: 2px solid rgb(240, 176, 176);

}

