<!--The content below is only a placeholder and can be replaced.-->
<nav>
  <a routerLink="/login" routerLinkActive="active">Login</a>
  <a routerLink="/signup" routerLinkActive="active">Signup</a>
  <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
</nav>
<body>
  <div style="text-align:center">
    <h1>
      {{ title }}<br>
    </h1>
    <h4>Please Fill in all details</h4>
    <br>
    <router-outlet></router-outlet>
  </div>
  </body>
