<p>
  signup
</p>
<div id ="signup" >
  <form >

       <input type="text" name=" Full Name" placeholder="Full Name" ><br>
         <br>
      <input type="test" name="Contect" placeholder="Contect No." ><br>
         <br>
      <input type="text" name="Email" placeholder="Email" ><br>
         <br>
      <input type="password" name="password" placeholder="Password" ><br>
      <br>
      <input type="password" name="Confirm Password" placeholder="Confirm Password" ><br>
      <br>
      <br>
      <button type="submit" value="submit">SIGNUP</button><br>
         <br>
         <br>
 </form>
 </div>

